.App {
  text-align: center;
  margin: 0 auto;
  width: 1280px;
  background-color: rgb(138, 219, 233);
  min-height: 900px;
}


.list {
  color: rgb(51, 48, 235);
  font-weight: bold;  
}


.user_table {
  width: 600px;
  margin: 0 auto;
  padding-top: 200px;
}
